.header {
  width: 1400px;
  height: 60px;
  padding: 20px;
  margin: 0 auto;
  background-color: var(--light-beige);
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: inherit;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--darkGrayBrown);
}
.header__logo {
  height: inherit;
  margin-right: 60px;
  padding-left: 20px;
  flex: 0 0 auto;
  width: 100px;
}
.header__nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 9px;
}
.header__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 28px;
}
.header__item {
  display: inline-block;
  margin-right: 40px;
}
.header__link {
  text-decoration: none;
  color: inherit;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--darkGrayBrown);
}
.header__menu-icon {
  padding-bottom: 10px;
  margin-right: 18px;
}
