.hero {
  width: inherit;
  height: 644px;
}
.hero__container {
  width: 1360px;
  height: 644px;
  margin-top: -100px;
  border-radius: 40px;
  margin-left: 40px;
  background-image: url("../../img/img-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__offer {
  padding-top: 100px;
  width: 530px;
  height: 444px;
  margin-top: 100px;
  margin-left: 100px;
}
.hero__title-first-word {
  color: var(--tan-brown);
  font-family: "Inter";
  font-size: 72px;
  font-style: italic;
  font-weight: 600;
  line-height: 105%;
}
.hero__title {
  margin-top: 1px;
  color: var(--light-beige);
  font-family: "Inter";
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}
.hero__description {
  color: var(--light-beige);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: -10px;
}
.hero__button-container {
  margin-top: 40px;
}
.hero__button-text {
  color: var(--darkGrayBrown);
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding-top: 20px;
}
