.about__container {
  width: 1360px;
  height: 1400px;
}
.about__title-container {
  width: inherit;
  height: 300px;
  margin-left: 40px;
  margin-top: 100px;
}
.about__title {
  align-self: stretch;
  color: var(--darkGrayBrown);
  font-family: "Inter";
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.about__title-words {
  color: var(--tan-brown);
  font-style: italic;
}
.about__image-container {
  width: inherit;
  height: 1060px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.about__image-container-column {
  width: 660px;
  height: inherit;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.about__image-box-top {
  width: 660px;
  height: 590px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  background-image: url("../../img/women-coffe.jpg");
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
}
.about__image-box-bottom {
  width: 660px;
  height: 430px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  background-image: url("../../img/coffee-cup-with-spoon.jpg");
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
}
.about__image-box-top-r {
  width: 660px;
  height: 430px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  background-image: url("../../img/man-coffee.jpg");
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
}
.about__image-box-bottom-r {
  width: 660px;
  height: 590px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  background-image: url("../../img/couple-coffee.jpg");
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
}
