.favorite {
  padding-top: 100px;
  width: inherit;
  height: 799px;
}
.favorite__container {
  width: 1360px;
  height: inherit;
  margin-left: 40px;
  position: relative;
}
.favorite__title {
  color: var(--darkGrayBrown);
  text-align: center;
  font-family: "Inter";
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-top: -1px;
}
.favorite__title-word {
  color: var(--tan-brown);
  text-align: center;
  font-family: "Inter";
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
  margin-top: -1px;
}
.favorite__slider-container {
  position: relative;
  width: inherit;
  height: 684px;
}
.favorite__slider {
  width: inherit;
  height: 640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.favorite-slider__row {
  width: 1152px;
  height: inherit;
}
.favorite-slider__button {
  border: 2px solid var(--darkTaupe);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.favorite-slider__button--left {
  margin-top: -17px;
  margin-left: 4px;
}
.favorite-slider__button--right {
  margin-top: -17px;
  margin-right: 5px;
}
.favorite-slider__slide {
  display: none;
}
.favorite-slider__slide--1 {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  margin-top: -50px;
}
.slide-content {
  margin-top: 25px;
  width: 480px;
  height: inherit;
}
.content-img {
  padding-top: 20px;
  max-width: 100%;
  max-height: 100%;
}
.slide-description-name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
.slide-description-describe {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}
.slide-description-price {
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
}

.control {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: var(--warm-grey);
}
.control--1 {
  background-color: var(--darkTaupe);
}
